In [1]:
%pip install pandas
%pip install html

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/kraakan/.local/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/lib/python3/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/lib/python3/dist-packages (from pandas) (2.8.1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Collecting html
  Using cached html-1.16.tar.gz (7.6 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [6 lines of output]
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "/tmp/pip-install-robny0q9/html_325ee3cf309b4eaaa6913c2217046697/setup.py", line 12, in <module>
          long_description = __doc__.decode('utf8'),
      AttributeError: 'str' object has no attribute 'decode'. Did you mean: 'encode'?
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [36]:
# https://stackoverflow.com/questions/40399640/reading-csv-files-with-python-pandas-when-there-is-html-escaped-string-in-ther
import html
with open('BX-Books.csv', 'r', encoding='latin-1') as f, open('BX-Books-fixed.csv', 'w') as g:
    content = html.unescape(f.read())
    g.write(content)

In [39]:
users = pd.read_csv('BX-Users.csv', delimiter=';', encoding='latin-1').replace('"','',regex=True)
users.columns = users.columns.str.replace('"','',regex=True)
books = pd.read_csv('BX-Books-fixed.csv', sep='(?<=\");(?=\")', engine='python', encoding='latin-1').replace('"','',regex=True)
# this regex should avoid interpreting semicolons as delimiter chars
books.columns = books.columns.str.replace('"','',regex=True)
ratings = pd.read_csv('BX-Book-Ratings.csv', encoding='latin-1', delimiter=';').replace('"','',regex=True)
ratings.columns = ratings.columns.str.replace('"','',regex=True)

In [40]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton & Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271374,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271375,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271377,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271378,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [6]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [8]:
ratings['User-ID'].reset_index(drop=True)

0          276725
1          276726
2          276727
3          276729
4          276729
            ...
1149775    276704
1149776    276706
1149777    276709
1149778    276721
1149779    276723
Name: User-ID, Length: 1149780, dtype: int64

In [9]:
ratings[ratings['User-ID'] == 10]

      User-ID        ISBN  Book-Rating
9584       10  1841721522            0
9585       10  8477024456            6

In [10]:
print(users[0:1]['Location'])

0    nyc, new york, usa
Name: Location, dtype: object

In [11]:
type(users[0:1]['Location'][0])

str

In [12]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [13]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   "ISBN"                 271379 non-null  object
 1   "Book-Title"           271379 non-null  object
 2   "Book-Author"          271379 non-null  object
 3   "Year-Of-Publication"  271379 non-null  object
 4   "Publisher"            271379 non-null  object
 5   "Image-URL-S"          271379 non-null  object
 6   "Image-URL-M"          271379 non-null  object
 7   "Image-URL-L"          271379 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [ ]:
type(books['ISBN'][1])

In [ ]:
users.info()

In [41]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

The data looks pretty good.
I want to add fields for number of reviews to the users and books.

In [42]:
# EDA what now?
import seaborn as sn
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

sn.histplot(data=ratings, x="User-ID", stat='frequency')
plt.show()

ModuleNotFoundError: No module named 'seaborn'

This graph gives an idea of the average number of ratings per user, but it's misleading because it doesn't show that over half the users have no ratings.

In [ ]:
print('Number of users with reviews: ', len(pd.unique(ratings['User-ID'])), 'out of', len(users), 'users')
print('Number of books reviewed: ', len(pd.unique(ratings['ISBN'])), 'out of', len(books), 'books (???)')
print("This can't be right! Either there is a problem with the ISBNs in the ratings file, or some of the books aren't listed.")

In [ ]:
ratings.head()

In [ ]:
ratings.loc[ratings['ISBN'] == '0192126040']

In [43]:
mean_ratings = ratings.groupby(['ISBN'], sort=False, as_index=False).mean()

In [44]:
mean_ratings

               ISBN        User-ID  Book-Rating
0        034545104X  149116.050000     2.933333
1        0155061224  217953.500000     2.500000
2        0446520802  147850.715517     4.060345
3        052165615X  276729.000000     3.000000
4        0521795028  276729.000000     6.000000
...             ...            ...          ...
340551   1575660792  276688.000000     7.000000
340552   0590907301  276690.000000     0.000000
340553   0679752714  276704.000000     0.000000
340554   0806917695  276704.000000     5.000000
340555  05162443314  276723.000000     8.000000

[340556 rows x 3 columns]

In [45]:
rating_counts = ratings.groupby(['ISBN'], sort=False, as_index=False).count()

In [46]:
rating_counts

               ISBN  User-ID  Book-Rating
0        034545104X       60           60
1        0155061224        2            2
2        0446520802      116          116
3        052165615X        1            1
4        0521795028        1            1
...             ...      ...          ...
340551   1575660792        1            1
340552   0590907301        1            1
340553   0679752714        1            1
340554   0806917695        1            1
340555  05162443314        1            1

[340556 rows x 3 columns]

In [47]:
books_with_ratings = mean_ratings.merge(rating_counts, on='ISBN', suffixes=('-Mean', '-Count')).drop(['User-ID-Mean', 'User-ID-Count'], axis=1)

In [48]:
books_with_ratings.sort_values(by='Book-Rating-Mean', ascending=False)

              ISBN  Book-Rating-Mean  Book-Rating-Count
155265  3455019080              10.0                  1
243967  8806156225              10.0                  1
104467  0875884520              10.0                  1
176813  0345462831              10.0                  1
104466  087196676X              10.0                  1
...            ...               ...                ...
217468  9500720434               0.0                  1
217469  9505114354               0.0                  1
87339   0824511492               0.0                  1
87338   0824510445               0.0                  2
170278  0684195860               0.0                  1

[340556 rows x 3 columns]

I'd like to list the most popular books, and since the highest rated ones all have just one rating, I'm going to set a limit of, let's say, 50 reveiews.

In [20]:
books_with_ratings[books_with_ratings['Book-Rating-Count']>50].sort_values(by='Book-Rating-Mean', ascending=False)

             ISBN  Book-Rating-Mean  Book-Rating-Count
13715  1844262553          7.962963                 54
529    0439064864          6.611765                170
9496   0439139597          6.541237                194
9495   0439136350          6.467005                197
9542   0590353403          6.363095                168
...           ...               ...                ...
452    0971880107          1.019584               2502
9508   0446356832          1.011905                 84
5830   0425173534          0.970149                 67
44645  1401088945          0.735294                 68
24602  0345345738          0.549020                 51

[2125 rows x 3 columns]

In [49]:
books.loc[books['ISBN'].str.contains('0439064864', case=False)]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
5432,0439064864,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...

In [50]:
books.loc[books['Book-Author'].str.contains('Immanuel Kant', case=False)]

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
74388,087220166X,Grounding for the Metaphysics of Morals: With ...,Immanuel Kant,1993,Hackett Publishing Company,http://images.amazon.com/images/P/087220166X.0...,http://images.amazon.com/images/P/087220166X.0...,http://images.amazon.com/images/P/087220166X.0...
152300,0375757333,Basic Writings of Kant (Modern Library Classics),IMMANUEL KANT,2001,Modern Library,http://images.amazon.com/images/P/0375757333.0...,http://images.amazon.com/images/P/0375757333.0...,http://images.amazon.com/images/P/0375757333.0...
154125,0521657296,Critique of Pure Reason,Immanuel Kant,1999,Cambridge University Press,http://images.amazon.com/images/P/0521657296.0...,http://images.amazon.com/images/P/0521657296.0...,http://images.amazon.com/images/P/0521657296.0...
175478,3895080756,Der Streit Der Facultaten Werke 6,Immanuel Kant,1999,Konemann Remainders,http://images.amazon.com/images/P/3895080756.0...,http://images.amazon.com/images/P/3895080756.0...,http://images.amazon.com/images/P/3895080756.0...
227507,0061311596,Groundwork of the Metaphysic of Morals,Immanuel Kant,1965,Perennial,http://images.amazon.com/images/P/0061311596.0...,http://images.amazon.com/images/P/0061311596.0...,http://images.amazon.com/images/P/0061311596.0...
238678,0879753773,Fundamental Principles of the Metaphysic of Mo...,Immanuel Kant,1987,Prometheus Books,http://images.amazon.com/images/P/0879753773.0...,http://images.amazon.com/images/P/0879753773.0...,http://images.amazon.com/images/P/0879753773.0...
238679,1573920630,Critique of Practical Reason (Great Books in P...,Immanuel Kant,1996,Prometheus Books,http://images.amazon.com/images/P/1573920630.0...,http://images.amazon.com/images/P/1573920630.0...,http://images.amazon.com/images/P/1573920630.0...
244458,0312450109,Immanuel Kant's Critique of Pure Reason,Immanuel Kant,1969,Bedford Books,http://images.amazon.com/images/P/0312450109.0...,http://images.amazon.com/images/P/0312450109.0...,http://images.amazon.com/images/P/0312450109.0...

In [51]:
books_with_ratings.iloc[1]['ISBN']

'0155061224'

In [ ]:
books_with_ratings[books_with_ratings['Book-Rating-Count']>50].sort_values(by='Book-Rating-Mean', ascending=False)['ISBN']

In [25]:
def get_book(isbn, df = books):
    return df.loc[df['"ISBN"'].str.contains(isbn, case=False)]

In [26]:
get_book('0192126040')

,"""ISBN""","""Book-Title""","""Book-Author""","""Year-Of-Publication""","""Publisher""","""Image-URL-S""","""Image-URL-M""","""Image-URL-L"""
271377,"""0192126040""","""Republic (World's Classics)""","""Plato""","""1996""","""Oxford University Press""","""http://images.amazon.com/images/P/0192126040....","""http://images.amazon.com/images/P/0192126040....","""http://images.amazon.com/images/P/0192126040...."

In [52]:
def recommend_books(books_read, titles=books, reviews=books_with_ratings, mode='popularity', n=10, min_ratings=50):
    titles_list = pd.DataFrame()
    #reviews_list = pd.DataFrame()
    popular = reviews[reviews['Book-Rating-Count']>min_ratings].sort_values(by='Book-Rating-Mean', ascending=False)
    i = 0
    while len(titles_list.index) < n:
        # get most popular isbns
        review = popular.iloc[i]
        isbn = review['ISBN']
        #print(titles_list)
        if not books_read['ISBN'].str.contains(isbn).any():
            title = get_book(isbn)
            titles_list = pd.concat([title, titles_list])
            #reviews_list = pd.concat([review, reviews_list])
        i+=1
    
    #return_df = titles_df.merge(reviews_df, on='ISBN', axis=1)
    return titles_list

In [28]:
books_with_ratings['ISBN'].str.contains('2080674722').any()

True

In [54]:
Kant = books.loc[books['Book-Author'].str.contains('Immanuel Kant', case=False)] 
recommend_books(Kant)

,"""ISBN""","""Book-Title""","""Book-Author""","""Year-Of-Publication""","""Publisher""","""Image-URL-S""","""Image-URL-M""","""Image-URL-L"""
3776,"""039480001X""","""The Cat in the Hat""","""Dr. Seuss""","""1957""","""Random House Books for Young Readers""","""http://images.amazon.com/images/P/039480001X....","""http://images.amazon.com/images/P/039480001X....","""http://images.amazon.com/images/P/039480001X...."
198535,"""039480001x""","""The Cat in the Hat""","""Dr. Seuss""","""1957""","""Random House Books for Young Readers""","""http://images.amazon.com/images/P/039480001X....","""http://images.amazon.com/images/P/039480001X....","""http://images.amazon.com/images/P/039480001X...."
388,"""0156528207""","""The Little Prince""","""Antoine de Saint-ExupÃÂ©ry""","""1968""","""Harcourt""","""http://images.amazon.com/images/P/0156528207....","""http://images.amazon.com/images/P/0156528207....","""http://images.amazon.com/images/P/0156528207...."
19641,"""0877017883""","""Griffin & Sabine: An Extraordinary Correspond...","""Nick Bantock""","""1991""","""Chronicle Books""","""http://images.amazon.com/images/P/0877017883....","""http://images.amazon.com/images/P/0877017883....","""http://images.amazon.com/images/P/0877017883...."
3357,"""0385199570""","""The Stand (The Complete and Uncut Edition)""","""Stephen King""","""1990""","""Doubleday Books""","""http://images.amazon.com/images/P/0385199570....","""http://images.amazon.com/images/P/0385199570....","""http://images.amazon.com/images/P/0385199570...."
12764,"""0618002227""","""The Fellowship of the Ring (The Lord of the R...","""J. R. R. Tolkien""","""1999""","""Houghton Mifflin Company""","""http://images.amazon.com/images/P/0618002227....","""http://images.amazon.com/images/P/0618002227....","""http://images.amazon.com/images/P/0618002227...."
2809,"""0590353403""","""Harry Potter and the Sorcerer's Stone (Book 1)""","""J. K. Rowling""","""1998""","""Scholastic""","""http://images.amazon.com/images/P/0590353403....","""http://images.amazon.com/images/P/0590353403....","""http://images.amazon.com/images/P/0590353403...."
3839,"""0439136350""","""Harry Potter and the Prisoner of Azkaban (Boo...","""J. K. Rowling""","""1999""","""Scholastic""","""http://images.amazon.com/images/P/0439136350....","""http://images.amazon.com/images/P/0439136350....","""http://images.amazon.com/images/P/0439136350...."
5431,"""0439139597""","""Harry Potter and the Goblet of Fire (Book 4)""","""J. K. Rowling""","""2000""","""Scholastic""","""http://images.amazon.com/images/P/0439139597....","""http://images.amazon.com/images/P/0439139597....","""http://images.amazon.com/images/P/0439139597...."
5432,"""0439064864""","""Harry Potter and the Chamber of Secrets (Book...","""J. K. Rowling""","""1999""","""Scholastic""","""http://images.amazon.com/images/P/0439064864....","""http://images.amazon.com/images/P/0439064864....","""http://images.amazon.com/images/P/0439064864...."
3028,"""1844262553""","""Free""","""Paul Vincent""","""2003""","""Upfront Publishing""","""http://images.amazon.com/images/P/1844262553....","""http://images.amazon.com/images/P/1844262553....","""http://images.amazon.com/images/P/1844262553...."

In [ ]:
books['Book-Author']

In [ ]:
of_age_users = users[users['Age']>50]
of_age_users = of_age_users[of_age_users['User-ID'].isin(ratings['User-ID'])]

In [ ]:
reviewers = users[users['User-ID'].isin(ratings['User-ID'])]

In [ ]:
reviewers

In [ ]:
adult_means = ratings[ratings['User-ID'].isin(of_age_users['User-ID'])].groupby(['ISBN'], sort=False, as_index=False).mean()
adult_ratings = ratings[ratings['User-ID'].isin(of_age_users['User-ID'])].groupby(['ISBN'], sort=False, as_index=False).count()
rated_by_adults = adult_means.merge(adult_ratings, on='ISBN', suffixes=('-Mean', '-Count')).drop(['User-ID-Mean', 'User-ID-Count'], axis=1)

In [ ]:
recommend_books(Kant, min_ratings=2)

In [32]:
recommend_books(recommend_books(Kant, min_ratings=25), min_ratings=25)

,"""ISBN""","""Book-Title""","""Book-Author""","""Year-Of-Publication""","""Publisher""","""Image-URL-S""","""Image-URL-M""","""Image-URL-L"""
19641,"""0877017883""","""Griffin & Sabine: An Extraordinary Correspond...","""Nick Bantock""","""1991""","""Chronicle Books""","""http://images.amazon.com/images/P/0877017883....","""http://images.amazon.com/images/P/0877017883....","""http://images.amazon.com/images/P/0877017883...."
25141,"""0786808551""","""The Arctic Incident (Artemis Fowl, Book 2)""","""Eoin Colfer""","""2002""","""Miramax Kids""","""http://images.amazon.com/images/P/0786808551....","""http://images.amazon.com/images/P/0786808551....","""http://images.amazon.com/images/P/0786808551...."
23423,"""0836218981""","""The Indispensable Calvin And Hobbes""","""Bill Watterson""","""1992""","""Andrews McMeel Publishing""","""http://images.amazon.com/images/P/0836218981....","""http://images.amazon.com/images/P/0836218981....","""http://images.amazon.com/images/P/0836218981...."
7758,"""0061057649""","""Feet of Clay (Discworld Novels (Paperback))""","""Terry Pratchett""","""1997""","""HarperTorch""","""http://images.amazon.com/images/P/0061057649....","""http://images.amazon.com/images/P/0061057649....","""http://images.amazon.com/images/P/0061057649...."
3357,"""0385199570""","""The Stand (The Complete and Uncut Edition)""","""Stephen King""","""1990""","""Doubleday Books""","""http://images.amazon.com/images/P/0385199570....","""http://images.amazon.com/images/P/0385199570....","""http://images.amazon.com/images/P/0385199570...."
12764,"""0618002227""","""The Fellowship of the Ring (The Lord of the R...","""J. R. R. Tolkien""","""1999""","""Houghton Mifflin Company""","""http://images.amazon.com/images/P/0618002227....","""http://images.amazon.com/images/P/0618002227....","""http://images.amazon.com/images/P/0618002227...."
24292,"""0064471063""","""The Horse and His Boy""","""C. S. Lewis""","""1994""","""HarperCollins""","""http://images.amazon.com/images/P/0064471063....","""http://images.amazon.com/images/P/0064471063....","""http://images.amazon.com/images/P/0064471063...."
12763,"""0618002235""","""The Two Towers (The Lord of the Rings, Part 2)""","""J. R. R. Tolkien""","""1999""","""Houghton Mifflin Company""","""http://images.amazon.com/images/P/0618002235....","""http://images.amazon.com/images/P/0618002235....","""http://images.amazon.com/images/P/0618002235...."
1397,"""0345458915""","""The Sinner""","""TESS GERRITSEN""","""2003""","""Ballantine Books""","""http://images.amazon.com/images/P/0345458915....","""http://images.amazon.com/images/P/0345458915....","""http://images.amazon.com/images/P/0345458915...."
2809,"""0590353403""","""Harry Potter and the Sorcerer's Stone (Book 1)""","""J. K. Rowling""","""1998""","""Scholastic""","""http://images.amazon.com/images/P/0590353403....","""http://images.amazon.com/images/P/0590353403....","""http://images.amazon.com/images/P/0590353403...."

In [33]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [34]:
#Build the ratings matrix using pivot_table function
r_matrix = ratings.pivot_table(values='Book-Rating', index='User-ID', columns='ISBN')

r_matrix.head()

/tmp/ipykernel_10300/2257423959.py:2: PerformanceWarning: The following operation may generate 35854757348 cells in the resulting pandas object.
  r_matrix = ratings.pivot_table(values='Book-Rating', index='User-ID', columns='ISBN')

MemoryError: Unable to allocate 33.4 GiB for an array with shape (35854757348,) and data type bool

In [ ]:
# Import cosine_score 
from sklearn.metrics.pairwise import cosine_similarity

#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)