In [1]:
%pip install pandas
%pip install html

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/kraakan/.local/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/lib/python3/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/lib/python3/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Note: you may need to restart the kernel to use updated packages.
Defaulting to user installation because normal site-packages is not writeable
Collecting html
  Using cached html-1.16.tar.gz (7.6 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [6 lines of output]
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "/tmp/pip-install-w9iwvs96/html_a947768f07094a05a1d8ee240bf02945/setup.py", line 12, in <module>
          long_description = __doc__.decode('utf8'),
      AttributeError: 'str' object has no attribute 'decode'. Did you mean: 'encode'?
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [4]:
# https://stackoverflow.com/questions/40399640/reading-csv-files-with-python-pandas-when-there-is-html-escaped-string-in-ther
import html
with open('BX-Books.csv', 'r', encoding='latin-1') as f, open('BX-Books-fixed.csv', 'w') as g:
    content = html.unescape(f.read())
    g.write(content)

In [12]:
users = pd.read_csv('BX-Users.csv', delimiter=';', encoding='latin-1')
books = pd.read_csv('BX-Books-fixed.csv', sep='(?<=\");(?=\")', engine='python', encoding='latin-1', on_bad_lines='warn', names=["ISBN","Book-Title","Book-Author","Year-Of-Publication","Publisher","Image-URL-S","Image-URL-M","Image-URL-L"])
# this regex should avoid interpreting semicolons as delimiter chars
ratings = pd.read_csv('BX-Book-Ratings.csv', encoding='latin-1', delimiter=';')

In [13]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,"""ISBN""","""Book-Title""","""Book-Author""","""Year-Of-Publication""","""Publisher""","""Image-URL-S""","""Image-URL-M""","""Image-URL-L"""
1,"""0195153448""","""Classical Mythology""","""Mark P. O. Morford""","""2002""","""Oxford University Press""","""http://images.amazon.com/images/P/0195153448....","""http://images.amazon.com/images/P/0195153448....","""http://images.amazon.com/images/P/0195153448...."
2,"""0002005018""","""Clara Callan""","""Richard Bruce Wright""","""2001""","""HarperFlamingo Canada""","""http://images.amazon.com/images/P/0002005018....","""http://images.amazon.com/images/P/0002005018....","""http://images.amazon.com/images/P/0002005018...."
3,"""0060973129""","""Decision in Normandy""","""Carlo D'Este""","""1991""","""HarperPerennial""","""http://images.amazon.com/images/P/0060973129....","""http://images.amazon.com/images/P/0060973129....","""http://images.amazon.com/images/P/0060973129...."
4,"""0374157065""","""Flu: The Story of the Great Influenza Pandemi...","""Gina Bari Kolata""","""1999""","""Farrar Straus Giroux""","""http://images.amazon.com/images/P/0374157065....","""http://images.amazon.com/images/P/0374157065....","""http://images.amazon.com/images/P/0374157065...."
...,...,...,...,...,...,...,...,...
271375,"""0440400988""","""There's a Bat in Bunk Five""","""Paula Danziger""","""1988""","""Random House Childrens Pub (Mm)""","""http://images.amazon.com/images/P/0440400988....","""http://images.amazon.com/images/P/0440400988....","""http://images.amazon.com/images/P/0440400988...."
271376,"""0525447644""","""From One to One Hundred""","""Teri Sloat""","""1991""","""Dutton Books""","""http://images.amazon.com/images/P/0525447644....","""http://images.amazon.com/images/P/0525447644....","""http://images.amazon.com/images/P/0525447644...."
271377,"""006008667X""","""Lily Dale : The True Story of the Town that T...","""Christine Wicker""","""2004""","""HarperSanFrancisco""","""http://images.amazon.com/images/P/006008667X....","""http://images.amazon.com/images/P/006008667X....","""http://images.amazon.com/images/P/006008667X...."
271378,"""0192126040""","""Republic (World's Classics)""","""Plato""","""1996""","""Oxford University Press""","""http://images.amazon.com/images/P/0192126040....","""http://images.amazon.com/images/P/0192126040....","""http://images.amazon.com/images/P/0192126040...."
271379,"""0767409752""","""A Guided Tour of Rene Descartes' Meditations ...","""Christopher Biffle""","""2000""","""McGraw-Hill Humanities/Social Sciences/Langua...","""http://images.amazon.com/images/P/0767409752....","""http://images.amazon.com/images/P/0767409752....","""http://images.amazon.com/images/P/0767409752...."

In [ ]:
users.head()

In [ ]:
print(users[0:1]['Location'])

In [ ]:
type(users[0:1]['Location'][0])

In [ ]:
ratings.head()

In [ ]:
books.info()

In [ ]:
type(books['ISBN'][1])

In [ ]:
users.info()

In [ ]:
ratings.info()

The data looks pretty good.
I want to add fields for number of reviews to the users and books.

In [ ]:
# EDA what now?
import seaborn as sn
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

sn.histplot(data=ratings, x="User-ID", stat='frequency')
plt.show()

This graph gives an idea of the average number of ratings per user, but it's misleading because it doesn't show that over half the users have no ratings.

In [ ]:
print('Number of users with reviews: ', len(pd.unique(ratings['User-ID'])), 'out of', len(users), 'users')
print('Number of books reviewed: ', len(pd.unique(ratings['ISBN'])), 'out of', len(books), 'books (???)')
print("This can't be right! Either there is a problem with the ISBNs in the ratings file, or some of the books aren't listed.")

In [ ]:
ratings.head()

In [ ]:
ratings.loc[ratings['ISBN'] == '0192126040']

In [18]:
mean_ratings = ratings.groupby(['ISBN'], sort=False, as_index=False).mean()

In [ ]:
mean_ratings

In [19]:
rating_counts = ratings.groupby(['ISBN'], sort=False, as_index=False).count()

In [ ]:
rating_counts

In [20]:
books_with_ratings = mean_ratings.merge(rating_counts, on='ISBN', suffixes=('-Mean', '-Count')).drop(['User-ID-Mean', 'User-ID-Count'], axis=1)

In [21]:
books_with_ratings.sort_values(by='Book-Rating-Mean', ascending=False)

              ISBN  Book-Rating-Mean  Book-Rating-Count
155265  3455019080              10.0                  1
243967  8806156225              10.0                  1
104467  0875884520              10.0                  1
176813  0345462831              10.0                  1
104466  087196676X              10.0                  1
...            ...               ...                ...
217468  9500720434               0.0                  1
217469  9505114354               0.0                  1
87339   0824511492               0.0                  1
87338   0824510445               0.0                  2
170278  0684195860               0.0                  1

[340556 rows x 3 columns]

I'd like to list the most popular books, and since the highest rated ones all have just one rating, I'm going to set a limit of, let's say, 50 reveiews.

In [22]:
books_with_ratings[books_with_ratings['Book-Rating-Count']>50].sort_values(by='Book-Rating-Mean', ascending=False)

             ISBN  Book-Rating-Mean  Book-Rating-Count
13715  1844262553          7.962963                 54
529    0439064864          6.611765                170
9496   0439139597          6.541237                194
9495   0439136350          6.467005                197
9542   0590353403          6.363095                168
...           ...               ...                ...
452    0971880107          1.019584               2502
9508   0446356832          1.011905                 84
5830   0425173534          0.970149                 67
44645  1401088945          0.735294                 68
24602  0345345738          0.549020                 51

[2125 rows x 3 columns]

In [ ]:
books.loc[books['ISBN'].str.contains('0439064864', case=False)]

In [ ]:
books.loc[books['Book-Author'].str.contains('Immanuel Kant', case=False)]

In [27]:
books_with_ratings.iloc[1]['ISBN']

'0155061224'

In [ ]:
books_with_ratings[books_with_ratings['Book-Rating-Count']>50].sort_values(by='Book-Rating-Mean', ascending=False)['ISBN']

In [15]:
def get_book(isbn, df = books):
    return df.loc[df['ISBN'].str.contains(isbn, case=False)]

In [17]:
get_book('0192126040')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
271378,"""0192126040""","""Republic (World's Classics)""","""Plato""","""1996""","""Oxford University Press""","""http://images.amazon.com/images/P/0192126040....","""http://images.amazon.com/images/P/0192126040....","""http://images.amazon.com/images/P/0192126040...."

In [56]:
def recommend_books(books_read, titles=books, reviews=books_with_ratings, mode='popularity', n=10, min_ratings=50):
    titles_list = pd.DataFrame()
    reviews_list = pd.DataFrame()
    popular = reviews[reviews['Book-Rating-Count']>min_ratings].sort_values(by='Book-Rating-Mean', ascending=False)
    i = 0
    while len(titles_list.index) < n:
        # get most popular isbns
        isbn = popular.iloc[i]['ISBN']
        print(titles_list)
        if isbn not in books_read['ISBN']:
            title = get_book(isbn)
            pd.concat([titles_list, title]) # HÄR ÄR FEL!
            #titles_list.append(title)
            #review = get_book(isbn, df = reviews)
            #reviews_list.append(review)
        i+=1
    # Make dataframe from lists
    #titles_df = pd.DataFrame([titles_list])
    #reviews_df = pd.DataFrame(reviews_list)
    
    #return_df = titles_df.merge(reviews_df, on='ISBN')
    return titles_df

In [57]:
Kant = books.loc[books['Book-Author'].str.contains('Immanuel Kant', case=False)] 
recommend_books(Kant)

Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []

KeyboardInterrupt: